body{           /*manages the whole page*/
background: #E4F1FE;
font-family: 'Rozha One', serif;

}
#container{      /*Manages the container div attributes*/


}
#head{      /*Manages the head div attributes*/
    font-size: 20px;
    color:grey;
}

table{      /*manages the table attributes*/
    text-align:center;
    color: gray;
}
th{     /*Manages the table head attributes*/
    font-size: 20px;
    color:gray;
}

a:hover{        /*change text color when mouse is over it*/
    color:grey;
}



